<div class="template-select-status">
  <div class="text-light bg-dark sidebar__template">
    <div class="d-flex justify-content-center">
      <img class="no-image" src="../../../assets/sem-imagem.jpg" alt="">
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column-reverse bd-highlight">
        <div class="p-2 bd-highlight">
          <button type="button" class="btn btn-dark size-button" [routerLink]="['/lookWorkers']" routerLinkActive="lookWorkers">Pesquisa
            de trabalhadores</button>
        </div>
        <div class="p-2 bd-highlight">
          <button type="button" class="btn btn-dark size-button" [routerLink]="['/generalForms']" routerLinkActive="generalForms">Cadastrar
            Trabalhador</button>
        </div>
      </div>
    </div>
  </div>
</div>
