<div class="row mt-3 mr-2 ml-2">
  <div class="col-md-5">
    <div class="card bg-light ">
      <div class="card-header">
        <i class="fa fa-camera"></i>
        {{brandPhotoWorker}}</div>
      <div class="card-body card-body-photoWorker">
        <div class="d-flex justify-content-center">
          <img class="sem-imagem" src="../../assets/sem-imagem.jpg" alt="">
        </div>
        <div class="d-flex justify-content-start mt-2">
          <button type="button" class="btn btn-light">{{brandTitlePhoto}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="card bg-light ">
      <div class="card-header">
        <i class="fa fa-id-card-o"></i>
        {{brandTitlePersonalData}}</div>
      <div class="card-body card-body-personal-data">
        <div class="row" >
          <div class="col-md-6" *ngFor="let personal of personalData">
            <label class="fields">{{personal.name}}</label>
            <input type="email" class="form-control" aria-describedby="emailHelp">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-3 mr-2 ml-2">
    <div class="col-md-5 ">
      <div class="card bg-light ">
        <div class="card-header">
          <i class="fa fa-upload"></i>
          Enviar arquivos</div>
        <div class="card-body ">
          <div class="row">
            <div *ngFor="let send of sendFiles" class="col col-sm-12 col-md-12 col-lg-12 col-xl-6">
              <label class="fields">{{send.name}}
                </label><br>
              <button type="button" class="btn btn-light">{{attachDocument}}</button>
            </div>
          </div>
          <div class="row">
            <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-6">
              <label class="fields">{{outherFile.field}}</label>
              <button type="button" class="btn btn-light">{{attachDocument}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="card bg-light ">
        <div class="card-header">
          <i class="fa fa-id-card-o"></i>
          {{brandEndress}}</div>
        <div class="card-body card-body-endress">
          <div class="row">
            <div *ngFor="let endress of endress" class="col-md-6">
              <label class="fields">{{endress.name}}</label>
              <input type="email" class="form-control" aria-describedby="emailHelp">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
